<nav>
    {{> link text="Skills" link="/skills" line=true}}
    {{> link text="Education" link="/education" line=true}}
    {{> link text="Work" link="/work" line=true}}
    {{> link text="Summary" link="/summary" line=true noLine=true}}
</nav>